@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&display=swap');


*{
    box-sizing: border-box;
    text-transform: capitalize;
}

h1{ font-size: 60px;}
h2{ font-size: 45px;}
h3{ font-size: 30px;}
p{ font-size: 23px;}
ul{ list-style: none;} 
li{ font-size: 23px;}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

button{
    font-size: 29px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border:  2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #E7F6F2;
    background-color: #A5C9CA;
}
button:hover{
    background-color: #395B64;
    color: #A5C9CA;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header .container{
    background-color: #395B64;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 7%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    margin: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #A5C9CA;
}
header .logo span{
    color: #E7F6F2;
}
header .container nav a{
    text-decoration: none;
    color: #E7F6F2;
    font-size: 23px;
    margin: 0px 12px;
}
header .container nav a:hover{
    color: #2C3333;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: #E7F6F2;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 55px 0;
}
span{
    color: #a5c9cb;
}

#somos-crono{
    background-color: #E7F6F2;
    text-align: center;
    padding: 200px 12px;
}

/* estilo tarjetas */

#nunestros-programas{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

.card{
    margin: 20px;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
    
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-10%);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
    opacity: 0;
    transition: 1s ease;
    cursor: default;
}

.content h3 a{
    color: rgba(255, 255, 255, .8);
}

.card:hover .content{
    opacity: 1;
}

spant{ color: #E7F6F2;
}

#nunestros-programas h2{
    color: #395B64;
}


/* disponibilidad */
#disponibilidad{
    height: 76vh;
    background-color: #E7F6F2;
}

#disponibilidad .container-all img{
    margin: 20px 4rem;
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}
#disponibilidad .container-all img:hover{
    transform: scale(1.2);
}

#disponibilidad h2{
    text-align: center;
    margin-left: 12px;
}
.container-all{
    display: flex;
}
.container-all ul li{
    margin: 30px 150px;
}



#listos .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: #E7F6F2;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/images/listo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#footer{
    width: 100%;
    background-color: #2C3333;
}

#footer .grupo-1{
    width: 100%;
    height: 380px;
    max-width: 1200px;
    margin: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
     padding: 45px 0px;
}
#footer .grupo-1 h2{
    color: #E7F6F2;
}

#footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .grupo-1 .box figure p{
    font-size: 36px;
    color: #395B64;
}
#footer .grupo-1 .box p{
    color: #E7F6F2;
}
/* #footer .grupo-1 .box .red-social i{
    text-align: none;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2C3320;
    border-radius: 25px;
    text-align: center;
    transition: all 300ms ease;
}
#footer .grupo-1 .box .red-social a .facebook:hover{
    color: blue;
} */